<center><img src="http://alacip.org/wp-content/uploads/2014/03/logoEscalacip1.png" width="500"></center>


<center> <h1>Curso: Introducción al Python</h1> </center>

<br></br>

* Profesor:  <a href="http://www.pucp.edu.pe/profesor/jose-manuel-magallanes/" target="_blank">Dr. José Manuel Magallanes, PhD</a> ([jmagallanes@pucp.edu.pe](mailto:jmagallanes@pucp.edu.pe))<br>
    - Profesor del **Departamento de Ciencias Sociales, Pontificia Universidad Católica del Peru**.<br>
    - Senior Data Scientist del **eScience Institute** and Visiting Professor at **Evans School of Public Policy and Governance, University of Washington**.<br>
    - Fellow Catalyst, **Berkeley Initiative for Transparency in Social Sciences, UC Berkeley**.


## Parte 1: Estructura de Datos en Python

<a id='beginning'></a>
Las estructuras de datos nos dicen como organizar y almacenar los datos que usamos. Tales estructuras van de lo simple a lo compuesto, y se les usa segun la necesidad particular. Veamos 4 de estas:




1. [Listas](#part1) 
2. [Tuplas](#part2) 
3. [Dictionarios](#part3) 
4. [Data Frames](#part4) 

Las Listas y tuplas son estructuras simples; un **Data frame** (DF) es una compuesta. Los **dictionarios** (tcc **dicts**) son estructuras versatiles a pesar de su simplicidad. Los **DF**s necesitan la instalación de librerías adicionales (no están en la base del Python).

____
<a id='part1'></a>

## Listas

Las listas contienen valores de cualquier tipo simple (numérico o no numérico), y podrían ser estructuras **compuestas** (lista de listas). Si usamos como referencia a una hoja de calculo con datos sobre individuos, una lista podria ser una **fila** que tiene los datos de los individuos.

In [2]:
DetailStudent=["Fred Meyers",40,"False"]

El object ‘DetailStudent’ almacena temporalmente la lista en la computadora. Los nombre pueden contener letras del alfabeto y números (y algunos caracteres de puntuación), pero no debe comenzar con un número.

En el código anterior, sólo se ha pedido crear la lista. Python lo ejecuta y nada más, no tienes que esperar ningún mensaje ni resultado. Si quieres ver lo que has creado, escribelo de manera explicita, así:

In [3]:
DetailStudent

['Fred Meyers', 40, 'False']

Nota que hay varios tipos de datos en la lista:

* *FullName* es texto o caracteres.
* *age* es un numero.
* *female* es un valor lógico.

Para acceder a cada uno de los elemento tu lista:

In [ ]:
DetailStudent[0] # primer elemento comienza con indice '0'

In [ ]:
DetailStudent[:2] # todo antes de índice 2

In [ ]:
DetailStudent[-1] # ultimo elementos

Si quieres **cambiar** algun valor:

In [ ]:
DetailStudent[0]='Alfred Mayer'
DetailStudent

Para **añadir** elementos:

In [ ]:
DetailStudent.append('Seattle')

# Ahora tienes:
DetailStudent

Para **borrar**, se puede hacer por...

* posición
* valor

Así, ante estas listas:

In [ ]:
elementsA=[1,2,3,4] 
elementsB=[1,2,3,4]

Then:

In [ ]:
## borrar tercer elemento
del elementsA[2]  
# luego:
elementsA  #

In [ ]:
#  borrar valor '2'
elementsB.remove(2)
elementsB

Si lo que querias era dejarlo **vacío**

In [ ]:
DetailStudent[3]=None
DetailStudent

Para eliminar la lista:

In [ ]:
newList=['a','b']
del newList
newList # becareful!... it is gone!

A veces queremos eliminar valores repetidos:

In [ ]:
weekdays=['M','T','W','Th','S','Su','Su']
weekdays

Para ello tenemos la función _set_:

In [ ]:
weekdays=list(set(weekdays))
weekdays

### No hay vectores en Python?

Los vectores no son parte del modulo básico de Python, por lo que necesitan que llames a **numpy** (_instálalo antes_):

In [ ]:
import numpy as np

vector=np.array([1,'2',3])
vector # aquí hay coerción pues solo debe haber un tipo de datos

Los nombres de los vectores siguen las mismas reglas que para las listas.

Acceder a los elementos es igual que en listas:

In [ ]:
vector[1]

In [ ]:
vector[1]=1.5
vector

Por lo anterior, nótese que ya que el vector es de textos, se coercionará a texto cada valor numérico ingresado.

Para añadir elementos, también se usa _append_, pero algo diferente:

In [ ]:
vectora=np.array([1,2,3])
vectorb=np.array([1,2,'3'])
vectora=np.append(vectora,vectorb)
vectora

Para eliminar elementos:

In [ ]:
vectorc = np.array(['a','b','c','d'])
index = [1,2]

vectorc = np.delete(vectorc, index)
vectorc

También hay manera de eliminar valores duplicados:

In [ ]:
np.unique([1, 1, 22, 22, 333, 33])

[Ir a inicio](#beginning)

_____
<a id='part2'></a>

## Tuplas

Al principio parace que fueran listas:

In [ ]:
DetailStudentaTuple=("Fred Meyers",40,"False")

Para crearlas puedes usar '(  )', el comando *tuple()* o nada:

In [ ]:
DetailStudentbTuple='Michael Nelson',60,'True'

La gran diferencia es que una vez creadas, ninguno de sus valores se puede modificar:

In [ ]:
# genera error
DetailStudentbTuple[1]=50

[Ir a inicio](#beginning)

____
<a id='part3'></a>
## Dicts

Los Dicts, superficialmente, son lo más similares a las listas de R:

In [ ]:
# creating dict:
DetailStudentDict={'fullName':"Fred Meyers",
               'age':40,
               'female':False}
# seeing it:
DetailStudentDict

Pero no tienen índices:

In [ ]:
DetailStudentDict[0]

Pare ver un elemento, tienes que saber el nombre de su campo ('key'):

In [ ]:
DetailStudentDict['age']

A partor de ahi, puedes hacer las operaciones comunes:

In [ ]:
DetailStudentDict['age']=81
DetailStudentDict

## Listas versus Tuplas vs Dicts?

__A) Aseguráte de saber qué tienes:__

In [ ]:
type(DetailStudentDict)

In [ ]:
type(DetailStudent)

In [ ]:
type(DetailStudentaTuple)

__B) Asegúrate que las funciones se pueden compartir__

In [ ]:
listTest=[1,2,3,3]
tupleTest=(1,2,3,4,4)
dictTest={'a':1,'b':2,'c':2}
len(listTest), len(tupleTest), len(dictTest)

[Ir a inicio](#beginning)
____
<a id='part4'></a>
## Data Frames

Los **Data frames** pueden interpretarse como estructuras compuestas en base a las simples. Python requiere que llamemos al **pandas** para usar DFs:

In [1]:
import pandas

# estas son columnas:

names=["Qing", "Françoise", "Raúl", "Bjork"]
ages=[32,33,28,30]
country=["China", "Senegal", "Spain", "Norway"]
education=["Bach", "Bach", "Master", "PhD"]

In [2]:
# las llevamos a dict:
data={'names':names, 'ages':ages, 'country':country, 'education':education}

...y de  dict a DF:

In [3]:
students=pandas.DataFrame.from_dict(data)
# check it:
students

       names  ages  country education
0       Qing    32    China      Bach
1  Françoise    33  Senegal      Bach
2       Raúl    28    Spain    Master
3      Bjork    30   Norway       PhD

También podría ser a partir de filas:

In [4]:
# Listas por fila
row1=["Qing", 32,"China", "Bach"]
row2=["Françoise", 33, "Senegal", "Bach"]
row3=["Raúl", 28, "Spain", "Master"]
row4=["Bjork", 30, "Norway", "PhD"]

#Lista de listas de filas
listOfRows=[row1,row2,row3,row4]

#creandolo:
DF_lists=pandas.DataFrame(listOfRows,columns=['names','ages','country','education'])
DF_lists

       names  ages  country education
0       Qing    32    China      Bach
1  Françoise    33  Senegal      Bach
2       Raúl    28    Spain    Master
3      Bjork    30   Norway       PhD

Tendremos un data frame? Recuerda que **type**  te lo dice:

In [5]:
type(students)

pandas.core.frame.DataFrame

Pero Pandas da más detalles son 'dtypes':

In [6]:
students.dtypes

names        object
ages          int64
country      object
education    object
dtype: object

Además de _dtypes()_, es bueno saber que puedes usar:

In [7]:
# cuantas filas y columnas tienes:
students.shape #

(4, 4)

No hay función específica para saber cuantas filas o columnas hay independientemente, pero **len** ayuda:

In [8]:
len(students.index) # or students.shape[0]

4

In [9]:
len(students.columns) # or students.shape[1]

4

También son muy útiles las función __head()__, que te permite ver las filas al inicio del DF:

In [10]:
students.head(2)

       names  ages  country education
0       Qing    32    China      Bach
1  Françoise    33  Senegal      Bach

Y su antónimo también está disponible:

In [11]:
students.tail(2)

   names  ages country education
2   Raúl    28   Spain    Master
3  Bjork    30  Norway       PhD

Claro que es bueno saber qué variables tenemos:

In [12]:
students.columns

Index(['names', 'ages', 'country', 'education'], dtype='object')

Lo anterior no es una lista, pero si la necesitas:

In [13]:
list(students)

['names', 'ages', 'country', 'education']

Tu DF es la tabla de datos a la que estás acostumbrado a utilizar. Si quieres ver algun elemento en particular:

In [14]:
# una columna
students.names

0         Qing
1    Françoise
2         Raúl
3        Bjork
Name: names, dtype: object

In [15]:
# or
students['names']

0         Qing
1    Françoise
2         Raúl
3        Bjork
Name: names, dtype: object

In [16]:
# # varias columnas (con posiciones)
students.iloc[:,[1,3]]

   ages education
0    32      Bach
1    33      Bach
2    28    Master
3    30       PhD

In [17]:
# varias columnas (con nombres)
students[['country','education']]

   country education
0    China      Bach
1  Senegal      Bach
2    Spain    Master
3   Norway       PhD

In [18]:
# varias columnas (con posiciones)
students.iloc[:,2:4]

   country education
0    China      Bach
1  Senegal      Bach
2    Spain    Master
3   Norway       PhD

In [19]:
# una fila
students.iloc[2,]

names          Raúl
ages             28
country       Spain
education    Master
Name: 2, dtype: object

In [20]:
# varias filas
students.iloc[[2,3],]

   names  ages country education
2   Raúl    28   Spain    Master
3  Bjork    30  Norway       PhD

Nótese en los casos anteriores, que si no indicabas filas, tenías toda la fila; y que si no indicas columnas, vienen todas las columnas. Si solo quieres un valor:

In [21]:
students.iloc[1,3]

'Bach'

Es muy común, y necesario, crear **subsets** del DF:

In [22]:
studentsNoEd=students.iloc[:,[0,1,2]]
studentsNoEd

       names  ages  country
0       Qing    32    China
1  Françoise    33  Senegal
2       Raúl    28    Spain
3      Bjork    30   Norway

Voy a hacer algunos cambios a este DF. Sin embargo, es común primero crear una copia del original:

In [23]:
studentsCopy=students.copy()
studentsCopy

       names  ages  country education
0       Qing    32    China      Bach
1  Françoise    33  Senegal      Bach
2       Raúl    28    Spain    Master
3      Bjork    30   Norway       PhD

Ahora, a la copia le hago modificaciones.

In [24]:
# cambio el valor de una edad:
studentsCopy.iloc[0,1]=23 # No hay advertencia, el cambio ya se hizo:
studentsCopy

       names  ages  country education
0       Qing    23    China      Bach
1  Françoise    33  Senegal      Bach
2       Raúl    28    Spain    Master
3      Bjork    30   Norway       PhD

In [25]:
# Podemos tener una nueva columna con valores vacios
studentsCopy.country=None
studentsCopy

       names  ages country education
0       Qing    23    None      Bach
1  Françoise    33    None      Bach
2       Raúl    28    None    Master
3      Bjork    30    None       PhD

In [26]:
# Y puedeo eliminar una columna:
studentsCopy.drop('ages',1,inplace=True) # axis=1 is column
studentsCopy

       names country education
0       Qing    None      Bach
1  Françoise    None      Bach
2       Raúl    None    Master
3      Bjork    None       PhD

### _CONSULTAS_ en Data Frames:

Una de las primeras cosas que hacemos con los DF es hacerle consultas:

In [27]:
# ¿Quién es el más viejo del grupo?
students[students.ages==max(students.ages)].names 
#students.loc[students['ages'].idxmax()].names

1    Françoise
Name: names, dtype: object

In [28]:
# ¿Quién es el más joven del grupo?
students[students.ages==min(students.ages)].names 
#students.loc[students['ages'].idxmin()].names

2    Raúl
Name: names, dtype: object

In [29]:
# ¿Quién tiene más de 30 y es de China?
students[(students.ages>30) & (students.country=='China')] # parentesis requeridos

  names  ages country education
0  Qing    32   China      Bach

In [30]:
# ¿Quién no viene de Noruega?
students[students.country!="Norway"]

       names  ages  country education
0       Qing    32    China      Bach
1  Françoise    33  Senegal      Bach
2       Raúl    28    Spain    Master

In [31]:
# ¿Quién no viene de estos lugares?

places=["China", "Spain"]
students[~students.country.isin(places)]

       names  ages  country education
1  Françoise    33  Senegal      Bach
3      Bjork    30   Norway       PhD

In [32]:
# Muestrame el DF ordenado decrecientemente por edad**
toSort=["ages"]
Order=[False]
students.sort_values(by=toSort,ascending=Order)

       names  ages  country education
1  Françoise    33  Senegal      Bach
0       Qing    32    China      Bach
3      Bjork    30   Norway       PhD
2       Raúl    28    Spain    Master

In [33]:
# Muestrame el DF ordenado crecientemente, por educacion y luego por edad

toSort=["education","ages"]
Order=[True,True]
students.sort_values(by=toSort,ascending=Order)

       names  ages  country education
0       Qing    32    China      Bach
1  Françoise    33  Senegal      Bach
2       Raúl    28    Spain    Master
3      Bjork    30   Norway       PhD

____

* [Ir a inicio](#beginning)

_____

**AUSPICIO**: 

* El desarrollo de estos contenidos ha sido posible gracias al grant del Berkeley Initiative for Transparency in the Social Sciences (BITSS) at the Center for Effective Global Action (CEGA) at the University of California, Berkeley


<center>
<img src="https://www.bitss.org/wp-content/uploads/2015/07/bitss-55a55026v1_site_icon.png" style="width: 200px;"/>
</center>

* Este curso cuenta con el auspicio de:


<center>
<img src="https://www.python.org/static/img/psf-logo@2x.png" style="width: 500px;"/>
</center>



**RECONOCIMIENTO**


EL Dr. Magallanes agradece a la Pontificia Universidad Católica del Perú, por su apoyo en la participación en la Escuela ALACIP.

<center>
<img src="https://dci.pucp.edu.pe/wp-content/uploads/2014/02/Logotipo_colores-290x145.jpg" style="width: 400px;"/>
</center>


El autor reconoce el apoyo que el eScience Institute de la Universidad de Washington le ha brindado desde el 2015 para desarrollar su investigación en Ciencia de Datos.

<center>
<img src="https://escience.washington.edu/wp-content/uploads/2015/10/eScience_Logo_HR.png" style="width: 500px;"/>
</center>

<br>